header {
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: #ffffff;
    padding: 5vh 0;    
    margin-bottom: 5vh;
    width: 100%;
    border-radius: 0vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
}

 header nav ul {
    list-style-type: none;
    padding: 2vh;
    margin: 1vh;
    display: flex;
    justify-content: center;
    gap: 5vh;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f3f4f6;
}

.containerProducts{
    display: flex;
    flex-direction: flex-wrap;
    justify-content: center;
    gap:2vh;
    padding: 2vh;
    border: 1px solid black;
}

.product {
    width: 200px;
    height:300px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.product img{
    width: 100%;
    height:150px;
    border-radius: 10px;
}

.product h3{
    font-size: 1rem;
    margin:10px 0;
}

.product p{
    font-size: 0.9rem;
    color:#333
}
.quantity {
    width: 40px;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
    border: 1px solid #ddd;
  }
.product-det{
    height:80%;
}

.quantity-controls{
    height:20%;
}

.btnCart {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
  }

  .addtocart{
    padding: 20px;
    text-align: center;
  }


  #cart {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;     
  }
  
  #cart td, #cart th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #cart tr:nth-child(even){background-color: #f2f2f2;}
  
  #cart tr:hover {background-color: #ddd;}
  
  #cart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  .btnempty{
    border: none;
    padding: 10px;
    margin:10px;
  }
  .divbottom
  {
    width:60%;
    display:flex;
    align-content: center; 
    padding: 20px;
  }

  .divtotal{
    width:30%;
    text-align:right;
    font-weight:bold;
  }

  .registration-form {
    background-color: #f2f2f2;/* Light gray background for the form */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
}

.registration-form input[type="text"], 
.registration-form textarea,
.registration-form select,
.registration-form input[type="email"],
.registration-form input[type="password"]
{
    background-color: #e9f7e9; /* Light green background */
    border: 2px solid #3c763d; /* Green border */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 70%;
    font-size: 16px;
}

.btnSignUp {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px; 
}

.validation-message {
  display: none;
  font-size: 14px;
  color: #091969;
  background-color: #f2f2f2;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.validation-message.active {
  display: block;
}

.error-message {
  position:fixed;
  top:40%;
  right:12%;
  background-color: #f8d7da; 
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  padding: 10px 15px; 
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; 
  font-family: Arial, sans-serif; 
  max-width: 400px; 
  height:200px;
  margin: 10px 0; 
}

